<h2>Edit your Pet's Profile</h2>
<form action="/main/pets/edit" method="POST" enctype="multipart/form-data">
  <label for="name">Pet Name</label>
  <input type="text" name="name" id="name" placeholder="{{user.pets.name}}"> <br><br>

  <label for="type">Select your animal</label>
  <select name="type" id="type">
    <option selected disabled> Choose One</option>
    <option value="Dog">Dog</option>
    <option value="Cat">Cat</option>
    <option value="Other">Other</option>
  </select> <br><br>

  <label for="description">Description</label>
  <textarea name="description"placeholder="{{user.pets.description}}"></textarea> <br><br>

  <label for="age">Age</label>
  <input type="text" name="age" id="age" placeholder="{{user.pets.age}}"> <br><br>

  <label for="notes">Notes</label>
  <input type="text" name="notes" id="notes" placeholder="{{user.pets.description}}"> <br><br>

  <label for="vaccunationCompleted">Is vaccunated?</label>
  <select name="vaccunationCompleted" id="vaccunationCompleted">
    <option selected disabled> Choose One</option>
    <option value="true">Si</option>
    <option value="false">No</option>
  </select> <br><br>

  <label for="petPhoto">Photo</label>
  <input type="file" name="petPhoto" id="petPhoto">
  <button type="submit">Save</button>
</form>