<a href="/main/{{user._id}}">Go to profile</a>
<a href="/main/pets">Add a Pet</a>
<p>Hello, {{user.username}}!!</p>
<h1>PetFamily</h1>
<h3>Find the right home for your pet</h3>


<div id="map"></div>
<a href="/main/new"><button>ADD</button></a>


<script src="https://maps.googleapis.com/maps/api/js?key={{key}}"></script>
<script src="/javascripts/scriptMain.js"></script>