<div class="col s12 container-title">
  <div class="user-title-container">
  <h1>Hello, {{user.username}}!!</h1>
  <img class="main-profile-pic" src="{{user.userPath}}"" alt="profile-picture">
  <h3>Find the right home for your pet</h3>
  </div>
<div class="col s12" id="map"></div>
</div> 
  <button class="waves-effect waves-light btn"><a href="/main/new" </a>Add new marker</button> 
  
  <script>
    window.address = {{{ address }}};
  </script>
      <script src="https://maps.googleapis.com/maps/api/js?key={{key}}"></script>
      <script src="/javascripts/scriptMain.js"></script>