<a href="/main/{{user.id}}">Go to profile</a>
<h1>PetFamily</h1>
<h3>Find the right home for your pet</h3>


<div id="map"></div>
<a href="/main/new"><button>ADD</button></a>


<script src="https://maps.googleapis.com/maps/api/js?key={{key}}"></script>
<script src="/javascripts/script.js"></script>