{{!-- <a href="/main">Go to Main</a> --}}
<h3>Edit Your Profile</h3>
<form action="/profile" method="post">
  <label for="availability">Available</label>
  <input type="text" name="availability" id="" placeholder="Enter your time schedule"> <br><br>

  <label for="pricePerHour">Enter your fee</label>
  <input type="text" name="pricePerHour" id="" placeholder="Enter your fee/hour in €"><br><br>

  <label for="centerDescription">Description</label>
  <textarea name="centerDescription" placeholder="Describe your capabilities "></textarea><br><br>

  <label for="typeActivity">Select your activity</label>
  <select name="typeActivity" id="">
    <option selected disabled>Choose one</option>
    <option value="Adoption">Adoption</option>
    <option value="Finder">Find babySitter</option>
    <option value="Babysitting">BabySitting</option>
    <option value="Both">Both</option>
  </select> <br><br>
  <label for="userPhoto">Photo</label>
  <input type="file" name="userPhoto" id="userPhoto">
  <button type="submit">Update</button>
</form>