<h1>PetFamily</h1>
<h3>Create New Location</h3>

<form action="/main/new" method="POST">
  <input type="text" name="userLocationName" placeholder="New Location">
  <input type="hidden" name="lat">
  <input type="hidden" name="lng">
  <button type="submit">Save</button>
</form> <br>
<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key={{key}}"></script>
<script src="/javascripts/scriptNewLocation.js"></script>