body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1,h2,h3,h4,h5,h6{
  color: #9e9e9e;
}
.icon-title{
  color:black;
}
.icon-text{

  font-size: 14px;
}
.icon-container{
  text-align: center;

}
p{
  color:black;
  line-height: 15px;
}

label{
  font-size: 1.8rem !important;
  color:black;
}

#map{
  height: 80vh;
  border-radius: 10px;
  
}

.logo-container {
  height: 80vh;
  width: 100%;
}
.responsive-img{
  margin: 5vh auto;
	display:block;
}
.user-profile{
  width: 200px;
  border-radius: 50%;
  opacity: 1.5;
}
.user-profile:hover{
  opacity: .5;

}
